.swiper {
  /*height: 600px;*/
  width: 100%;

  .swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-weight: bold;
    font-size: 12 * 2;
    background-color: #fff;
  }
}